body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

button {
    width: 100%;
    border: 0;
    outline: none;
    background-color: darkgray;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    margin: 10px 0 0 0;
}

.dropdown button {
    background-color: darkcyan;
}

.main-title {
    font-size: 32px;
    font-weight: bold;
    margin: 3px 0;
}

.sub-title {
    font-size: 22px;
    font-style: italic;
    margin: auto;
}

.dropdown {
    width: auto;
    position: relative;
    width: 100px;
}

.dropdown-body {
    display: none;
    position: absolute;
    top: 48px;
    margin: 0;
    border: black 1px solid;
    background-color: white;
    padding: 5px;
    width: 100%;
}

.dropdown:hover .dropdown-body {
    display: block;
}

.dropdown-btn {
    width: 100%;
    border: 0;
    outline: none;
    background-color: darkgray;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    margin: 10px 0 0 0;
    transition: all ease 500ms;
}

.dropdown-btn:hover {
    background-color: aliceblue;
}

.dropdown-body li {
    list-style: none;
}

.simple-header {
    position: sticky;
    top: 0;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;
    width: 100%;
    padding: 8px 36px;
}

.title-bio {
    font-size: 20px;
}

#about {
    display: flex;
    flex-direction: column;
    padding: 36px;
    align-items: center;
    text-align: center;
}

#about * {
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-img {
    width: 10%;
    height: auto;
}

.text-cont {
    max-width: auto;
    text-align: center;
    padding: 0 16px;
}

.text {
    line-height: 1.5;
    font-size: 18px;
}